@import "tailwindcss";
@layer base {
  :root {
    --color-primary: 162 96% 20%;
  }

  .dark {
    --color-primary: 162 70% 35%;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}