@import "styles/utilities/typography";
@import "styles/utilities/colors";
@import "tailwindcss";
@layer base {
  :root {
    /* Primary: #026451 → HSL: 162 96% 20%  */
    --color-primary: 162 96% 20%;
    --color-primary-foreground: 0 0% 100%; /* white text on primary */;
  }

  .light-bg{
      background-color: #F8F8F8;
  }

  .dark {
    /* Slightly lighter for dark mode visibility */
    --color-primary: 162 70% 35%;
    --color-primary-foreground: 0 0% 100%;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}