@use "sass:color";

$colors: (
  "primary": #026451,
  "secondary": #ffffff,
  "error": #e63946,
  "black": #000000,
  "orange": #f4a261,
  "gray": #a7a7a7,
  "purple": #6c5ce7,
  "green": #2ecc71,
  "blue": #1e90ff,
);

// scan through each color( @each )
@each $key, $val in $colors {
  // generate two classes ( .text and .bg)
  .cms-text-#{$key} {
    color: $val;
  }
  .cms-outline-#{$key} {
    color: $val;
  }
  .cms-bg-#{$key} {
    background-color: $val;
  }
  // example to understand and to remember how this works
  // 1
  //   .text-primary {
  //   color: #026451;
  // }

  // 2
  //   .bg-primary {
  //   color: #026451;
  // }

  // light variations

  @for $i from 1 through 9 {
    .text-#{$key}-light-#{$i} {
      // when i is 1,2,3 etc(10%,20%,30% etc,) mix the value with white(the colors in the loop(primary, secondary, error etc)
      color: color.mix(white, $val, $i * 10%);
    }
    .outline-#{$key}-light-#{$i} {
      // when i is 1,2,3 etc(10%,20%,30% etc,) mix the value with white(the colors in the loop(primary, secondary, error etc)
      color: color.mix(white, $val, $i * 10%);
    }
    .bg-#{$key}-light-#{$i} {
      // when i is 1,2,3 etc(10%,20%,30% etc,) mix the value with white(the colors in the loop(primary, secondary, error etc)
      background-color: color.mix(white, $val, $i * 10%);
    }
  }

  // dark variations
  @for $i from 1 through 9 {
    .cms-text-#{$key}-dark-#{$i} {
      // when i is 1,2,3 etc(10%,20%,30% etc,) mix the value with white(the colors in the loop(primary, secondary, error etc)
      color: color.mix(black, $val, $i * 10%);
    }

    .cms-outline-#{$key}-dark-#{$i} {
      // when i is 1,2,3 etc(10%,20%,30% etc,) mix the value with white(the colors in the loop(primary, secondary, error etc)
      color: color.mix(black, $val, $i * 10%);
    }
    .cms-bg-#{$key}-dark-#{$i} {
      // when i is 1,2,3 etc(10%,20%,30% etc,) mix the value with white(the colors in the loop(primary, secondary, error etc)
      background-color: color.mix(black, $val, $i * 10%);
    }
  }

  // example to understand and to remember how this works ( @for loop)
  // 1
  //   .text-primary-3 {
  //   color: #026451;
  // }

  // 2
  //   .text-error-3 {
  //   color: #026451;
  // }

  // 3
  //   .bg-primary-4 {
  //   color: #026451;
  // }
}
